{{ $title := .ctx.Params.bookcase_title | default .ctx.Title }}
{{ $description := .ctx.Params.bookcase_description | default .ctx.Description }}
{{ $source_code := .ctx.Params.source_code }}
{{ $demo_url := .ctx.Params.demo_url }}
{{ $background_src := .ctx.Params.background_image }}
{{ $start_year := .ctx.Params.start_year }}
{{ $end_year := .ctx.Params.end_year }}
{{ $links := .ctx.Params.links }}
{{ $tags := .ctx.Params.tags }}
{{ $images := .ctx.Params.images }}

{{ $accent_colour_light := .ctx.Params.accent_colour_light | default "var(--color-border)" }}
{{ $accent_colour_dark := .ctx.Params.accent_colour_dark | default "var(--color-border)" }}
{{ $preview := .preview }}

{{ $bookcase_js := resources.Get "js/bookcase.js" }}
{{- if hugo.IsProduction -}}
{{ $bookcase_js = $bookcase_js | js.Build (dict "minify" true) | resources.Fingerprint "sha512" -}}
{{- else -}}
{{ $bookcase_js = $bookcase_js | js.Build -}}
{{- end -}}
<script defer src="{{ $bookcase_js.RelPermalink }}" integrity="{{- $bookcase_js.Data.Integrity -}}"></script>

{{ $min_width := (cond ($preview) "500px" "0px") }}
{{ $max_width := (cond ($preview) "500px" "inf") }}

<div class="bookcase-item" tags="{{ $tags | jsonify }}" style="min-width: {{ $min_width }}; max-width: {{ $max_width }}; --accent-colour-light: {{ $accent_colour_light }}; --accent-colour-dark: {{ $accent_colour_dark }}; background: url('{{ $background_src }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div id="bookcase-info">
        <div>
            <div id="bookcase-topbar">
                <a href="{{ .ctx.RelPermalink }}">
                    <h2>{{ $title }}</h2>
                </a>

                {{ with $start_year }}
                <div id="bookcase-range">
                    <div>{{ . }}</div>

                    {{ if not (eq $start_year $end_year) }}
                        <div>~</div>

                        {{ if $end_year }}
                        <div>{{ $end_year }}</div>
                        {{ else }}
                        <div>present</div>
                        {{ end }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <p>{{ $description }}</p>
        </div>

        <div>
            <div id="bookcase-button-row">
                <div class="bookcase-tags">
                    {{ with $tags }}
                        <i class="fa-solid fa-tags"></i>

                        {{ range . }}

                        <div class="bookcase-tag">
                            {{ if $preview }}
                                <a href="projects?tag={{ . }}">{{ . }}</a>
                            {{ else }}
                                <a href="?tag={{ . }}">{{ . }}</a>
                            {{ end }}
                        </div>

                        {{ end }}
                    {{ end }}
                </div>

                {{ with $links }}
                <div id="bookcase-buttons">
                    {{ range . }}
                    <div class="bookcase-button">
                        <a href="{{ .link }}">
                            <i class="{{ .icon }}"></i>
                        </a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>

            {{ if $demo_url }}
                <code id="bookcase-source-code-link" style="color: var(--color-link); margin-bottom: 10px;">
                    <h0 id="bookcase-source-code-label">Try me!</h0>
                    <br>
                    <a href="{{ $demo_url }}">
                        {{ $demo_url }}
                    </a>
                </code>
            {{ end }}

            <code id="bookcase-source-code-link" style="color: var(--color-link)">
                <h0 id="bookcase-source-code-label">Source code</h0>
                <br>
                <a href="{{ $source_code }}">
                    {{ $source_code }}
                </a>
            </code>
        </div>
    </div>

    {{ with $images }}
    <div id="bookcase-images">
        <div id="bookcase-images-scroll">
            {{ range . }}
            <img src="{{ . }}">
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
