{{ $ctx := .ctx }}
{{ $title := .title }}
{{ $content := .content }}
{{ $res := .res }}
{{ $row := .row }}
{{ $preview := .preview }}
{{ $limit := .limit }}

<div class="content-margin">
    <div class="my-8">
        {{ if not $preview }}
        <h1>{{ $title }}</h1>
        {{ end }}
        {{ if $content }}
            {{- partial "content.html" (dict "ctx" $ctx "content" $content) -}}
        {{ end }}
    </div>

    {{ with $res }}
        {{ if not $row }}
        <div class="bookcase-layout content-margin">
        {{ else }}
        <div class="bookcase-layout content-margin bookcase-row">
        {{ end }}

        {{ if $preview }}
            {{ $to_find := $limit }}
            {{ range sort . "Params.publishdate" "desc" }}
                {{ if eq $to_find 0 }}
                    {{ break }}
                {{ end }}

                {{ $hidden := .Params.hide_in_preview | default false }}
                {{ if not $hidden }}
                    {{ partial "bookcase/item.html" (dict "ctx" . "preview" true) }}
                    {{ $to_find = sub $to_find 1 }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ range sort . "Params.publishdate" "desc" }}
                {{- partial "bookcase/item.html" (dict "ctx" . "preview" false) -}}
            {{ end }}
        {{ end }}

        </div>

    {{ end }}
</div>
