.bookcase-layout {
  display: grid;
  gap: 1rem;
  // grid-template-columns: repeat(auto-fill, 8rem);

  .bookcase-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;

    .bookcase-info {
      max-width: 500px;
      display: flex;
      // padding-right: 16px;
      margin-top: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      
      * {
        text-align: start;
        color: var(--color-text);
      }
      
      h2 {
        font-size: 1.4em;
        color: var(--accent-colour);
      }

      p {
        font-size: 1.15em;
      }
      
      .bookcase-source-code-label {
        font-size: 0.8em;
        opacity: 50%;
      }

      #bookcase-source-code-link {
        a {
          color: var(--accent-colour);
        }

        a:hover {
          border-bottom: 1px solid var(--accent-colour);
        }
      }

      #bookcase-topbar {
        display: flex;
        justify-content: space-between;
      }

      #bookcase-range {
        display: flex;
        gap: 7px;
        padding: 5px;
        border-radius: 5px;
        // background-color: var(--color-background-card);
        background-color: var(--accent-colour);
        
        * {
          color: black;
        }
      }

      #bookcase-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        gap: 10px;

        .bookcase-button {
          border-radius: 50%;
          font-size: 15px;
          width: 20px;
          
          background-color: var(--color-background-inline-code);
          background-size: 20px, 20px;
          padding: 5px;
          text-align: center;

          * {
            color: var(--accent-colour)
          }
        }
      }
    }

    .bookcase-images-scroll {
      display: flex;
      flex-flow: row;
      overflow-x: scroll;
      
      padding: 1px;
      height: 24rem;
      border-radius: 10px;
      scrollbar-color: var(--accent-colour) transparent;

      .bookcase-images {
        display: flex;
        gap: 10px;
        
        img {
          height: 24rem;
          float: left;
          object-fit:contain;
        }
      }
    }
  }
}
