.bookcase-layout {
  display: grid;
  gap: 1rem;
  // grid-template-columns: repeat(auto-fill, 8rem);
  
  .bookcase-item {
    html[data-theme="light"] {
      --accent-colour-light: var(--accent-colour-light-dark)
    }
    
    html[data-theme="dark"] {
      --accent-colour-light: var(--accent-colour-light-light)
    }

    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;

    #bookcase-info {
      flex-basis: 300px;
      flex-shrink: 1;
      flex-grow: 1;

      display: flex;
      margin-top: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      
      * {
        text-align: start;
        color: var(--color-text-light);
      }
      
      h2 {
        font-size: 1.4em;
        color: var(--accent-colour-light);
      }

      p {
        font-size: 1.15em;
      }
      
      #bookcase-source-code-label {
        font-size: 0.8em;
        opacity: 50%;
        color: var(--color-text)
      }

      #bookcase-source-code-link {
        a {
          color: var(--accent-colour);
        }

        a:hover {
          border-bottom: 1px solid var(--accent-colour);
        }
      }

      #bookcase-topbar, #bookcase-button-row {
        display: flex;
        justify-content: space-between;
      }

      #bookcase-button-row {
        margin-bottom: 10px;
      }
      
      #bookcase-range {
        display: flex;
        gap: 7px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--accent-colour-light);
        
        * {
          color: black;
        }
      }

      #bookcase-tags {
        display: flex;
        flex-flow: row;
        white-space: nowrap;
        gap: 10px;

        * {
          font-size: 0.9em;
          color: black;
        }
        
        i {
          margin: auto;
          color: var(--accent-colour-light);
        }

        .bookcase-tag {
          background: var(--accent-colour-light);
          
          padding: 5px;
          border-radius: 9px;
        }
      }

      #bookcase-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .bookcase-button {
          border-radius: 50%;
          font-size: 15px;
          width: 20px;
          
          background-color: var(--color-background-card);
          background-size: 20px, 20px;
          padding: 5px;
          text-align: center;

          * {
            color: var(--accent-colour)
          }
        }
      }
    }

    #bookcase-images {
      display: flex;
      flex-flow: row;
      overflow-x: scroll;
      
      padding: 1px;
      height: fit-content;
      border-radius: 10px;
      scrollbar-color: var(--accent-colour-light) transparent;
      
      #bookcase-images-scroll {
        display: flex;
        gap: 10px;
        
        img {
          height: fit-content;
          max-height: 24rem;
          float: left;
          object-fit:contain;
        }
      }
    }
  }
}
